.PokemonType{
    color: black;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 12px;
    border-radius: 100px;
    background-color: rgb(255, 179, 0);
    padding: 3px 8px;
    margin: 2px 4px;
}