.tableContainer{
    overflow: scroll;
    height: 70vh;
    color: black;
    font-size: 1.4rem;
  
  }
  .table{
    border: solid 1px black;
  }
  table, th, td {
    border: 1px solid black;
  }
  .table a {
    color: black;
    transition: all ease-in-out .2s;
  }
  .table a:hover {
    color: grey;
    box-shadow: 1rem 1rem 4px 4px rgba(0, 0, 0, 0.3);
  }
  
  
  th {
    background-color: #4CAF50;
    color: black;
  }