$first: #fbd13d;    
$second: #757cbb;

.footer{
    background-color: $second;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.devName{
    color: $first;
    transition: all ease-in-out 0.2s;
    &:hover{
        color: black;
    }
}